spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/online_store_dev
    username: postgres
    password: 130896
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

logging:
  level:
    com.ordermanagement.orderapp: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
server:
  port: 8080
