spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/online_store_dev
    username: postgres
    password: 130896
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
